{
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "bracketSpacing": true
}
