@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
